<web-app> 
  <security-role> 
    <role-name>admin</role-name> 
  </security-role> 
  <security-constraint> 
    <web-resource-collection> 
      <web-resource-name>admin</web-resource-name> 
      <url-pattern>/task/*</url-pattern> 
    </web-resource-collection> 
    <auth-constraint> 
      <role-name>admin</role-name> 
    </auth-constraint> 
  </security-constraint> 
</web-app>
